//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

configuration {
	modi: "window,drun,run,ssh";
	width: 1900;
	lines: 15;
	font: "Iosevka Nerd Font Mono 13";
	show-icons: true;
	terminal: "urxvt";
}
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
