@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

configuration {
	modi: "window,drun,run,ssh";
	width: 900;
	opacity: 0.88;
	lines: 15;
	font: "Iosevka Nerd Font Mono 13";
	show-icons: true;
	terminal: "alacritty";
}
